language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - hhvm

before_script:
  - "sh -c 'curl -s http://getcomposer.org/installer | php'"
  - "sh -c 'php composer.phar install --quiet'"

script: phpunit --configuration tests/phpunit.xml tests